apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ghillie.fullname" . }}
  labels:
    {{- include "ghillie.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "ghillie.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ghillie.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "ghillie.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.args }}
          args:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or .Values.secrets.existingSecretName .Values.secrets.externalSecret.enabled }}
          envFrom:
            - secretRef:
                name: {{ include "ghillie.secretName" . }}
          {{- end }}
          env:
            {{- range $key, $value := .Values.env.normal }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
